.topnav2 {
    margin-top: 8%;
    margin-right: 8%;
    margin-left: 8%;
    z-index: -1;
    text-align: center;
    clear:both;
}
.box2 {
  display: inline-block;
    margin-top: 7%;
    margin-right: 2%;
    margin-left: 2%;
    z-index: -1;
    text-align: center;
    
}
.WTF2{
    
  float: left;
  width: 10%;
  height: 40%;

}